<div class=" flex flex-col  items-center h-screen">

  <h1 class="text-3xl">Faça login</h1>
  @if(errorMessage() !== ""){
  <p class="text-error text-center">{{errorMessage()}}</p>
  }
  <form class="mt-3 max-w-96 w-full flex flex-col items-center bg-gray-800 rounded-md py-1"
    [formGroup]="formService.form">
    <fieldset class="fieldset">
      <label class="label">Username</label>
      <input formControlName="username" type="text" class="input w-full" />
      <app-error-msg nomeCampo="username" [control]="formService.form.get('username')" />
      <label class="label">Password </label>
      <input formControlName="password" type="password" class="input w-full" />
      <app-error-msg nomeCampo="password" [control]="formService.form.get('password')" />
    </fieldset>
    <div class="w-[184px]">
      <button type="submit" (click)="login()" class="btn mt-3 self-start">Enviar</button>
    </div>
    <a class="link mt-2" [routerLink]="'/'">Create an account</a>
  </form>
</div>