<div class=" flex flex-col items-center h-screen ">
  <h1 class="text-3xl">Crie sua conta</h1>
  <form class="mt-3 max-w-96 w-full flex flex-col items-center bg-gray-800 rounded-md py-1"
    [formGroup]="formService.form">
    @if (this.errorMessage() !== "") {
    <p class="text-error">
      {{this.errorMessage()}}
    </p>
    }
    <fieldset class="fieldset">
      <label class="label">Username (Cannot have blank spaces or special characters)</label>
      <input formControlName="username" type="text" class="input w-full" placeholder="" />
      <app-error-msg nomeCampo="username" [control]="formService.form.get('username')" />
      <label class="label">Email </label>
      <input autocomplete="email" formControlName="email" type="email" class="input w-full" placeholder="" />
      <app-error-msg nomeCampo="email" [control]="formService.form.get('email')" />
      <label class="label">Password (Must contain at least 8 characters) </label>
      <input formControlName="password" type="password" class="input w-full" placeholder="" />
      <app-error-msg nomeCampo="password" [control]="formService.form.get('password')" />
      <label class="label">Confirm Password </label>
      <input formControlName="confirmPassword" type="password" class="input w-full" placeholder="" />
      <app-error-msg nomeCampo="confirmPassword" [control]="formService.form.get('confirmPassword')" />
    </fieldset>
    <div class="w-[237px]">
      <button class="btn mt-3 self-start" (click)="signInUser()">Enviar</button>
    </div>
    <a class="link" routerLink="/login">Log-in</a>
  </form>
</div>